# `.gitignore` est utilisé pour spécifier les fichiers et dossiers qui doivent être ignorés par Git, évitant ainsi de les inclure dans les commits et le dépôt.

node_modules/
.env
package-lock.json
package.json